@page "/department/edit/{DepId:int}"
@inject IDepartmentRepository departmentRepository
@inject NavigationManager manager

    <EditForm Model="Department" OnSubmit="Edit">
        <div class="form-group">
            <label>Имя:</label>
            <div>
                <InputText class="form-control" @bind-Value=@Department.Name />
            </div>
           
        </div>
        <button class="btn btn-dark" type="submit">Сохранить</button>
    </EditForm>

@code {
    [Parameter] public int DepId { get; set; }

    public Department Department { get; set; } = new Department();

    protected override async Task OnInitializedAsync()
    {
        Department = await departmentRepository.GetDepartment(DepId);
    }

    private void Edit()
    {
        departmentRepository.UpdateDepartment(Department);
        manager.NavigateTo("/department");
    }
}
